.item {
  display: inline-block;
  margin: 5px 5px 0;
  font-size: 14px;
}

.happy {
  background: #FFE394;
  color: black;
  }

.joy {
  background: #f46a00;
  color: white;
  }

.bliss {
  background: #fc0000;
  color: white;
  }

.sorrow {
  background:  #94B0FF;
  color: white;
  }

.misery{
  background: #CF40D6;
  color: white;
  }

.comfort{
  background: #76bf16;
  color: white;
  }

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.0em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
